{% extends "base.html" %}
    {% block content %}
    <div class="centered-block">
        <h2>Movie quotes</h2>
        <table style="width: 100%; border-collapse: collapse;">
          <thead>
            <tr style="background: #0583F2; color: white; text-align: center;">
              <th>Name</th>
              <th>Quote</th>
              <th>Director</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for i in lst %}
            <tr style="text-align: center; border-bottom: 0.6px solid #ddd;">
              <td>{{ i[1]['Name'] }}</td>
              <td>{{ i[1]['Quote'] }}</td>
              <td>{{ i[1]['Director'] }}</td>
              <td><a href="{{ url_for('delete_movie', movie_id=i[0]) }}">Delete</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <br>
        
        <h1>Add movie, quote and director below!</h1>
        
        <form action="/add_movie" method="POST">
            <h3>Type in title</h3><input type="text" name="title">
            <h3>Type in quote</h3><input type="text" name="quote">
            <h3>Type in director</h3><input type="text" name="director">
            
            <input type="submit" value="Add">
        </form>
      
        
        <br><br>
        {{ ckeditor.load() }}
        <h1>Tell us about your experience with movies!</h1>
        
    </div>
    {% endblock %}

{% block container %}
    
    <h1>Send an email below!</h1>
    <form action="/form_action" method="POST">
        {{ f.csrf_token }}

        {{ f.email.label }}
        {{ f.email }}
        <br>
        {{ f.texti.label }}
        {{ f.texti }}
        <br>
        {{ f.takki }}

    </form>
    
    {{ ckeditor.load(pkg_type="basic") }}  <!--  Hlöðum editornum inn í templateið, pk_type= basic/standard/full -->
    {{ ckeditor.config(name='texti') }}   <!--  hér veljum við field til að setja editorinn á, í þessu tilviki texti -->

{% endblock %}